* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background: #e3f9ff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container #history {
    background: #FFFFFF;
    /* padding: 20px; */
    height: 500px;
    align-items: center;
}

.container #history .history-item {
    cursor: pointer;
    background: #EFEFEF;
    padding: 20px;
    border-radius: 10px;
    margin: 5px;
}

.container #history li {
    list-style-type: none;
    font-size: 20px;
    color: #181818;
}

.container img {
    width: 85%;
    display: flex;
    margin-left: 13px;
    opacity: 0.5;
}

.calculator {
    background: #FFFFFF;
    padding: 10px;
    border-radius: 10px;
    /* font-weight: bold; */
}

.container form input, button {
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    background: #EFEFEF;
    font-size: 30px;
    color: #181818;
    cursor: pointer;
    margin: 10px;
}

form .display {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

form .display input, button {
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
    padding-right: 20px;
}

form input.equal.operator, button.equal.operator {
    background-color: #FEC13B;
}

form button.equal.operator.history {
    position: relative;
    top: 7px; 
    /* left: 1px; */
}

form input.operator, button.operator {
    color: #C88C2C;
    background-color: #FEEFBF;
}

#open-history {
    transition: transform 0.3s ease;
}

#open-history img {
    transition: transform 0.3s ease;
}

#history {
    width: 0;
    overflow: hidden;
    transition: width 0.3s;
    max-height: 100%;
    /* border-radius: 5px; */
}

#history .content {
    overflow-y: auto;
    max-height: 100%;
    padding: 10px;
}

#history .history-item {
    overflow-x: auto;
}

#history .history-item::-webkit-scrollbar {
    width: 5px;
    height: 7px;
    margin-bottom: 10px;
}

#history .history-item::-webkit-scrollbar-thumb {
    background-color: #868686;
    border-radius: 8px;
}

#history .history-item::-webkit-scrollbar-track {
    background-color: #EFEFEF;
}

#history.opened {
    width: 300px;
}

#history form {
    display:flex;
    justify-content:flex-end;
}
