* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background: #e3f9ff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container #history {
    background: #FFFFFF;
    /* padding: 20px; */
    height: 500px;
    align-items: center;
}

.container #history .history-item {
    background: #3a445f;
    padding: 20px;
    border-radius: 10px;
    margin: 5px;
}

.container #history li {
    list-style-type: none;
    font-size: 20px;
    color: #fff;
}

.calculator {
    background: #FFFFFF;
    padding: 10px;
    border-radius: 10px;
    /* font-weight: bold; */
}

.container form input {
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    background: #EFEFEF;
    font-size: 30px;
    color: #181818;
    cursor: pointer;
    margin: 10px;
}

form .display {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

form .display input {
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
    padding-right: 20px;
}

form input.equal.operator {
    /* width: 145px; */
    background-color: #FEC13B;
}

form input.operator {
    color: #C88C2C;
    background-color: #FEEFBF;
}

#history {
    width: 0;
    overflow: hidden;
    transition: width 0.5s;
    max-height: 100%;
}

#history .content {
    overflow-y: auto;
    max-height: 100%;
    padding: 10px;
}

#history.opened {
    width: 300px;
}

#history form {
    display:flex;
    justify-content:flex-end;
}