<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Calculator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="container">
    <div class="calculator">
        <form action="{{ url_for('calculate') }}" method="post">
            <div class="display">
                <input type="text" name="display" value="{{result}}" placeholder="0" required>
            </div>
            <div>
                <input type="button" value="C" onclick="display.value = '' " class="operator">
                <input type="button" value="Del" onclick="display.value = display.value.toString().slice(0, -1) " class="operator">
                <input type="button" value="^" onclick="display.value += '^' " class="operator">
                <input type="button" value="/" onclick="display.value += '/' " class="operator">
                <input type="button" value="(" onclick="display.value += '(' " class="operator">
            </div>
            <div>
                <input type="button" value="7" onclick="display.value += '7' ">
                <input type="button" value="8" onclick="display.value += '8' ">
                <input type="button" value="9" onclick="display.value += '9' ">
                <input type="button" value="*" onclick="display.value += '*' " class="operator">
                <input type="button" value=")" onclick="display.value += ')' " class="operator">
            </div>
            <div>
                <input type="button" value="4" onclick="display.value += '4' ">
                <input type="button" value="5" onclick="display.value += '5' ">
                <input type="button" value="6" onclick="display.value += '6' ">
                <input type="button" value="+" onclick="display.value += '+' " class="operator">
                <input type="button" value=">" onclick="display.value += '6' " id="open-history" class="equal operator">
            </div>
            <div>
                <input type="button" value="1" onclick="display.value += '1' ">
                <input type="button" value="2" onclick="display.value += '2' ">
                <input type="button" value="3" onclick="display.value += '3' ">
                <input type="button" value="-" onclick="display.value += '-' " class="operator">
            </div>
            <div>
                <input type="button" value="%" onclick="display.value += '%' ">
                <input type="button" value="0" onclick="display.value += '0' ">
<!--                <input type="button" value="=" onclick="display.value = eval(display.value)" class="equal operator">-->
                <input type="button" value="." onclick="display.value += '.' ">
                <input type="submit" value="=" class="equal operator">
            </div>
        </form>
    </div>
    <div id="history">
        <div class="content">
            <ul>
                {% for item in history %}
                <div class="history-item" data-result="{{ item.result }}">
                    <li>{{ item.expression }} = {{ item.result }}</li>
                </div>
                {% endfor %}
            </ul>
            <form action="{{ url_for('historyMoment') }}" method="post">
                <div>
                    <input type="submit" value="D" class="equal operator">
                </div>
            </form>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='restore.js') }}"></script>
<script src="{{ url_for('static', filename='historyBtn.js') }}"></script>
</body>
</html>